doctype html
html(lang='en')
    head
        title Ship a React SPA!
        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=VT323:400' rel='stylesheet')
    body
        #app
